<app-topbar></app-topbar>
<div fxLayout="row" *ngIf="!success" class="body">
	<mat-card fxFlex="80">
		<h2>Average Feedbacks from Various Customers</h2>
		<mat-table *ngIf="messages" [dataSource]="queries" class="mat-elevation-z8">
			<ng-container matColumnDef="question">
				<mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.question}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="response">
				<mat-header-cell *matHeaderCellDef> Average Response </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.response}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</mat-card>
	<br>
	<mat-accordion>
		<mat-expansion-panel (opened)="panelOpenState = true"
												(closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Feedback Messages	
				</mat-panel-title>
				   <mat-panel-description>
				     {{panelOpenState ? 'Close' : 'Open'}}
				   </mat-panel-description>
			</mat-expansion-panel-header>
		<p *ngFor="let msg of messages; let i = index">
		<mat-card>
			<i>{{i+1}}. &nbsp; </i>
			{{msg}}
		</mat-card>
		<!--<mat-divider></mat-divider>-->
		</p>

		</mat-expansion-panel>
	</mat-accordion>
</div>

